<ion-view view-title="完成">
        <ion-content>
                <div style="margin: 0px auto; width: 72px; height: 72px;">
                        <img src="../img/success.png" width="72">
                </div>
                <div class="card">
                        <div class="item item-text-wrap" style="font-size: 13px;">
                                您的提现申请已提交，我们会尽快审批，请耐心等待
                                <br>
                                <div style="margin: 0px auto; width: 80px; margin-top: 1.5rem;">
                                        <a class="button button-small  button-balanced" style="width: 80px; " href="#/tab/account">完成
							</a>
                                </div>
                        </div>
                </div>
        </ion-content>
</ion-view>
