<ion-view view-title="个人资料">
	<ion-content has-subheader="false">
		 <div class="list ws-list pl-list">
                        <a class="item item-button-right" ng-click="changeHeader()">
                                头像
                                <img src="{{account.userheader}}" alt="">
                                <button class="button button-clear button-positive button-icon-right">
                                       <i class="icon ion-ios-arrow-right"></i>
                                </button>
                        </a>
                         <a class="item item-button-right">
                                会员名称
                                <label>{{account.username}}</label>
                                <button class="button button-clear button-positive button-icon-right">
                                        <!-- <i class="icon ion-ios-arrow-right"></i> -->
                                </button>
                        </a>
                        <a class="item item-button-right">
                                会员等级
                                <label>{{account.userroles.typename}}</label>
                                <button class="button button-clear button-positive button-icon-right">
                                        <!-- <i class="icon ion-ios-arrow-right"></i> -->
                                </button>
                        </a>
                        <a class="item item-button-right" ng-click="valid()">
                                手机号码
                                <label>{{account.userphone}}</label>
                                <button class="button button-clear button-positive button-icon-right">
                                        <i class="icon ion-ios-arrow-right"></i>
                                </button>
                        </a>
                        <a class="item item-button-right" ng-click="changeEmail()">
                                邮箱
                                <label>{{account.useremail}}</label>
                                <button class="button button-clear button-positive button-icon-right">
                                        <i class="icon ion-ios-arrow-right"></i>
                                </button>
                        </a>
                         <a class="item item-button-right" ng-click="chooseBirthday()">
                                出生日期
                                <label>{{account.userbirthday}}</label>
                                <button class="button button-clear button-positive button-icon-right">
                                        <i class="icon ion-ios-arrow-right"></i>
                                </button>
                        </a>
                </div>
	</ion-content>
</ion-view>