<ion-view view-title="积分券充值">
        <ion-content>
                <form name="whiteform" ng-submit="_whiteform(white)">
                        <div class="list">
                                <label class="item item-input">
                                        <span class="input-label">积分券号</span>
                                        <input type="text" required placeholder="" ng-model="white.number">
                                </label>
                                <label class="item item-input">
                                        <span class="input-label">积分券密码</span>
                                        <input type="password" required placeholder="" ng-model="white.password">
                                </label>
                                <label class="item item-input">
                                        <span class="input-label">充值账号</span>
                                        <input type="text" required placeholder="" ng-model="white.username">
                                </label>
                                <button ng-disabled="whiteform.$invalid" type="submit" class="button button-block button-outline button-positive">
                                        充&nbsp;&nbsp;&nbsp;&nbsp;值
                                </button>
                        </div>
                </form>
        </ion-content>
</ion-view>
